:root {
 font-size: 62.5%;
 --light-green: #14d9c4;
 --dark-green: #099d8d;
 --dark-grey: #54585a;
 --light-grey: #b8b8b9;
 --background-grey: #f1f1f1; 
 --white: #ffffff;
 --black: #000000;
 --font-p: 'Open Sans', sans-serif;
 --font-h: 'Rubik', sans-serif;
 
}
.header {
    
    width: 768px;
    color: var(--white);
    
}
.header .title {
  background-color: var(--dark-green);
  height: 60px;
  font-size: 16px;
  
  
}
.header .nav {
    background-color: var(--light-green);
    height: 45px;
    font-size: 15x; 
   display: flex;
   justify-content: space-between;
}
 .menu {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.body{
    display:flex;
    flex-direction: column;
   align-items: center;

}

.adalabers{
    display:flex;
    flex-direction: column;
    align-items: center;
  

}


.bio-image{
       
    width: 56.25vw;
    height: 56.25vw;
    border-radius: 20px;
    background-image: contain;
    border: solid 5px lightgrey;
    border-radius: 20px;
    object-fit: cover;

}

.bio-text{

    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-p);
    
 }

 .icons{
    display: flex;
    flex-direction: row;
 }
 
