:root {
 font-size: 62.5%;
 --light-green: #14d9c4;
 --dark-green: #099d8d;
 --dark-grey: #54585a;
 --light-grey: #b8b8b9;
 --background-grey: #f1f1f1; 
 --white: #ffffff;
 --black: #000000;
 --font-p: 'Open Sans', sans-serif;
 --font-h: 'Rubik', sans-serif;
 
}
.header { 
    width: 100%;
    color: var(--white);
    justify-content: center;
    text-align: center;
    
}
.header .title {
  background-color: var(--dark-green);
  height: 60px;
  font-size: 16px;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.header .nav {
    background-color: var(--light-green);
    height: 45px;
    font-size: 15px; 
    text-align: end;
    padding: 10px;
}

 .menu {
   display: flex;
   flex-direction: row;
   justify-content: space-around; 
   list-style: none;
}

.body{
    display:flex;
    flex-direction: column;
   align-items: center;

}

.adalabers{
    display:flex;
    flex-direction: column;
    align-items: center;
  

}


.bio-image{
       
    width: 56.25vw;
    height: 56.25vw;
    border-radius: 20px;
    background-image: contain;
    border: solid 5px lightgrey;
    border-radius: 20px;
    object-fit: cover;

}

.bio-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.bio-p{

    
    font-family: var(--font-p);
    padding: 30px 15px;
    justify-content: center;
    line-height: 1.5;
    
    
 }

 .bio-h{

    
    font-family: var(--font-p);
    padding: 30px 15px;
    justify-content: center;
    line-height: 1.5;
    
    
 }
 


 .icons{
    display: flex;
    flex-direction: row;
    list-style: none;
 }
 
 .title-team {
    color: var(--light-green);
    text-align: center;
 }

 .title-article {
    color: var(--light-green);
    text-align: center;
 }

 .section-two {
    background-color: var(--background-grey);
    border-top-style:dashed;
    border-top-left-radius:10pc;
 }