.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*align-content: center;*/
  width: 100%;
  height: 250px;
  border: solid 1px #b8b8b9;
  background-color: #ffffff;
}

.copy {
  font-family: var(--font-p);
  color: var(--light-grey);
  padding: 30px;


}

@media all and (min-width: 768px) {}

@media all and (min-width: 1200px) {}