<header class="header">
  <h1 class="title">FANTASTIC FOUR</h1>
  <nav class="nav">
    <ul class="menu">
      <li><a href="#equipo"class="menu">EQUIPO</a></li>
      <li><a href="#quienes-somos" class="menu">QUIENES SOMOS</a></li>
      <li><a href="../form.html" class="menu">CONTACTO</a></li>
    </ul>
  </nav>
</header>
<main>
  <section class="container">
    <div class="text-container">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis vitae
      </p>
    </div>
  </section>
</main>
