<section>
  <h2 class="title-adalabers">QUIÉNES SOMOS</h2>

  <!-- Celia -->

  <include
    src="./member.html"
    name="Celia Ramírez"
    bio="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque turpis nunc. Praesent aliquet rutrum odio, nec feugiat eros luctus sagittis. Aenean rhoncus feugiat nisi eget accumsan. Donec commodo dictum diam id pretium. Praesent vel elit ipsum. Sed finibus varius eros ac tristique. Sed ut commodo nisi, eu ultrices mauris. a"
    pic="celia.jpg"
    twitter=""
    linkedin="https://www.linkedin.com/in/celia-ram%C3%ADrez-jim%C3%A9nez-03a037203/"
    github="https://github.com/celsrami"
    mail="celsrami22@gmail.com"
  ></include>

  <!-- Patricia -->

  <include
    src="./member.html"
    name="Patricia Montes de Oca"
    bio="He salido de los laboratorios y las batas blancas, para adentrarme al mundo de la tecnología en diferentes países como Los Países Bajos, España e Irlanda, durante este último año he trabajado para empresas Saas de marketing y CX en Cork- Irlanda. Hablo tres idiomas y me considero una persona que siempre tiene ganas de aprender, automotivada y me encanta viajar!"
    pic="patricia.jpg"
    twitter="https://twitter.com/patrybog"
    linkedin="https://www.linkedin.com/in/epmontesdeocaverastegui"
    github="https://github.com/patriciabog"
    mail="patriciamvbog@gmail.com"
  ></include>

  <!-- Raquel -->

  <include
    src="./member.html"
    name="Raquel Gómez"
    bio="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque turpis nunc. Praesent aliquet rutrum odio, nec feugiat eros luctus sagittis. Aenean rhoncus feugiat nisi eget accumsan. Donec commodo dictum diam id pretium. Praesent vel elit ipsum. Sed finibus varius eros ac tristique. Sed ut commodo nisi, eu ultrices mauris. a"
    pic="raquel.jpg"
    twitter=""
    linkedin=""
    github="https://github.com/raquelgm88"
    mail="raquel.rgm7@gmail.com"
  ></include>

  <!-- Almu -->

  <include
    src="./member.html"
    name="Almudena Lloret"
    bio="Arquitecta en crisis existencial aprendiendo a programar para dar un cambio a su vida profesional y ser más feliz. Después de trabajar en diferentes estudios de Londres y Madrid me lio la manta a la cabeza para convertirme en web developer."
    pic="almu.jpg"
    twitter="https://twitter.com/almulloretg"
    linkedin="https://www.linkedin.com/in/almudenalloret/"
    github="https://github.com/AlmuLloret"
    mail="almudenalloret@gmail.com"
  ></include>
</section>
