
      <section>
        <h2 class="title-adalabers">QUIÉNES SOMOS</h2>
        <article class="adalabers">
          <img src="./assets/images/celia.jpg" class="bio-image" />

          <div class="bio">
            <h3 class="bio-h">Celia Ramírez</h3>
            <p class="text-p">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a
              felis nisl. Integer finibus sit amet erat a porta. Aliquam
              malesuada diam non nibh mattis, sed gravida mauris mollis.
            </p>

            <ul class="icons">
              <li>
                <a
                  href="https://www.linkedin.com/in/almudenalloret/"
                  class="icon"
                >
                  <i class="fa-brands fa-twitter"></i>
                </a>
              </li>
              <li>·</li>
              <li>
                <a href="">
                  <i
                    class="fa-brands fa-linkedin-in"
                    style="color: var(--dark-green)"
                  ></i
                ></a>
              </li>
              <li>·</li>
              <li>
                <a href="">
                  <i
                    class="fa-brands fa-github-alt"
                    style="color: var(--dark-green)"
                  ></i>
                </a>
              </li>
              <li>·</li>
              <li>
                <a href=""
                  ><i
                    class="fa-solid fa-envelope"
                    style="color: var(--dark-green)"
                  ></i
                ></a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    </main>