<article class="adalabersreverse">
  <img src="./assets/images/@@pic" class="adalabers_image" />

  <div class="bioreverse">
    <h3 class="bioreverse__name">@@name</h3>
    <p class="bioreverse__text">@@bio</p>

    <ul class="bio__social">
      <li>
        <a href="@@twitter" class="bio__social__icon">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
      <li>·</li>
      <li>
        <a href="@@linkedin" class="bio__social__icon">
          <i class="fa-brands fa-linkedin-in"></i
        ></a>
      </li>
      <li>·</li>
      <li>
        <a href="@@github" class="bio__social__icon">
          <i class="fa-brands fa-github-alt"></i>
        </a>
      </li>
      <li>·</li>
      <li>
        <a href="mailto:@@mail" class="bio__social__icon"
          ><i class="fa-solid fa-envelope"></i
        ></a>
      </li>
    </ul>
  </div>
</article>
