<article class="adalabers--reverse">
  <img src="./assets/images/@@pic" class="adalabers_image" />

  <div class="bio">
    <h3 class="bio__name">@@name</h3>
    <p class="bio__text">@@bio</p>

    <ul class="icons">
      <li>
        <a href="@@twitter" class="icon">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
      <li>·</li>
      <li>
        <a href="@@linkedin" class="icon">
          <i class="fa-brands fa-linkedin-in"></i
        ></a>
      </li>
      <li>·</li>
      <li>
        <a href="@@github" class="icon">
          <i class="fa-brands fa-github-alt"></i>
        </a>
      </li>
      <li>·</li>
      <li>
        <a href="@@mail" class="icon"><i class="fa-solid fa-envelope"></i></a>
      </li>
    </ul>
  </div>
</article>
