.main__contact{

    display: flex;
    flex-direction: column;
    margin: auto 35px;

    &__text{
    
    font-size: 1.6rem;
    color: var(--dark-grey);
    font-family: var(--font-p);
    text-align: center;
    
    line-height: 1.5;
    margin-bottom: 38px;

    }

    &__small {
        
        font-size: 1.2rem;
        color: var(--dark-grey);
        font-family: var(--font-p);
        text-align: center;
        align-items: center;
        margin: 0 auto;

        &__color {
            color: var(--dark-green);

        }

    }

    &__form{

    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    color: var(--dark-grey);
    font-family: var(--font-p);
    text-align: left;

    }

}

.input__label {
    display: flex;
    flex-direction: column;

}
