.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-one {
    margin: 3rem 0 3rem 0;

}

.rectangle {
    width: 30px;
    height: 30px;
    transform: translate(0, -1.5rem) rotate(45deg);
    background-color: white;
    margin: 0 auto;
}


.section-two {
    background-color: var(--background-grey);
    font-family: var(--font-h);
    margin: -30px auto 4.5rem auto;

}


.title-team {
    color: var(--light-green);
    text-align: center;
    margin: 6rem 0 1.5rem 0;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-family: var(--font-h);
}


.text-p{
    font-size: 1.6rem;
    color: var(--dark-grey);
    font-family: var(--font-p);
    padding: 0 3rem;
    text-align: center;
}
.text-two{
    font-size: 1.6rem;
    color: var(--dark-grey);
    font-family: var(--font-p);
    padding: 0 3rem;
    text-align: center;

}


.title-article {
    color: var(--dark-green);
    text-align: center;
    font-size: 2.2rem;
    padding: 4rem 0 1.5rem 0;
}

.two{
    padding-bottom: 4.5rem;
}


@media all and (min-width: 768px) {
    
    .title-team {
        margin: 4.5rem auto 1.5m auto;
    }

    .section-two {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    .paragraphs {
        margin: 1.5rem auto 6rem auto;
    }

    .text-two {
        width: 45vw;
        font-size: 1.6rem;
        
    }

    .two {

    }

}

@media all and (min-width: 1200px) {
    
}