<footer>
    <div class="footer">
        <div class="copy">
            <p class="copy">Grupo 4 &copy 2023</p>
        </div>
        <div class="footer-links">
            <nav class="footer-nav">
                <ul class="footer-menu">
                  <li><a href="#"></a>EQUIPO</li>
                  <li><a href="#"></a>QUIÉNES SOMOS</li>
                  <li><a href="#"></a>CONTACTO</li>
                </ul>
            </nav>
        </div>
        <div>
            <img src="../assets/images/logo-adalab.png" alt="Logo Adalab">
        </div>
    </div>
</footer>