<footer class="footer">
    <div class="copy">
        <p>Grupo 4 &copy 2023</p>
    </div>
    <nav class="footer-nav">
            <ul class="footer-menu">
                <li><a href="#"></a>EQUIPO</li>
                <li><a href="#"></a>QUIÉNES SOMOS</li>
                <li><a href="#"></a>CONTACTO</li>
            </ul>
    </nav>
    <div class="adalab">
        <a href="https://adalab.es/">
            <img class="adalab-logo" src="./assets/images/logo-adalab.png" alt="Logo Adalab">
        </a>
    </div>
</footer>