<section id="team" class="section-one">
  <h2 class="title-team">Equipo</h2>
  <div class="paragraphs">
    <p class="text-p">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis vitae
      aperiam dolorum eius, facilis a sed quis voluptas iure ea odit dignissimos
      quo voluptatum quidem ipsum at veniam perferendis quae. periam dolorum
      eius, facilis a sed quis voluptas iure ea odit dignissimos quo voluptatum
      quidem ipsum at veniam
    </p>

    <p class="text-p">
      <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis vitae
      aperiam dolorum eius, facilis a sed quis voluptas iure ea odit dignissimos
      quo vacilis a sed quis voluptas iure ea odit dignissimos quo voluptatum
      quidem ipsum at veniam oluptatum quidem ipsum at veniam perferendis quae.
    </p>
  </div>
</section>

<div class="rectangle"></div>

<section class="section-two">
  <article>
    <h2 class="title-article">Fortalezas</h2>
    <p class="text-p">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis vitae
      aperiam dolorum eius, facilis a sed quis voluptas iure ea odit facilis a
      sed quis voluptas iure ea odit dignissimos quo vacilis a sed quis vo
      dignissimos quo voluptatum quidem ipsum at veniam perferendis quae.
    </p>
  </article>

  <article class="article-two">
    <h2 class="title-article">Debilidades</h2>
    <p class="text-p">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique
      facilis a sed quis voluptas iure ea odit dignissimos quo vacilis a sed
      quis vo cum magnam repellat assumenda nemo iste consequuntur, accusantium
      necessitatibus quod in quas. Ipsum fuga ut magnam officia a nulla,
      accusantium eaque.
    </p>
  </article>
</section>
